<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Warn"
      internalLogFile="${basedir}/logs/nlog-internal.log">

  <extensions>
    <add assembly="NLog.Web.AspNetCore" />
  </extensions>

  <targets>
    <target xsi:type="Console"
            name="console"
            layout="${longdate} [${uppercase:${level}}] ${logger:shortName=true} | TraceId=${aspnet-traceidentifier} | ${message} ${exception:format=ToString}" />

    <target xsi:type="File"
            name="file"
            fileName="${basedir}/logs/ari-url-shortener-${shortdate}.log"
            archiveEvery="Day"
            archiveNumbering="Rolling"
            maxArchiveFiles="30"
            concurrentWrites="true"
            keepFileOpen="false"
            layout="${longdate} [${uppercase:${level:padding=-5}}] ${logger:shortName=true} | TraceId=${aspnet-traceidentifier} | ${message}${onexception:${newline}EXCEPTION\: ${exception:format=ToString}}" />
  </targets>

  <rules>
    <!-- Suppress noisy EF Core command logging at Trace/Debug -->
    <logger name="Microsoft.EntityFrameworkCore.*" maxLevel="Info" final="true" />
    <!-- Suppress ExceptionHandlerMiddleware: our GlobalExceptionHandler logs with richer context -->
    <logger name="Microsoft.AspNetCore.Diagnostics.ExceptionHandlerMiddleware" minlevel="Trace" final="true" />
    <!-- Suppress other Microsoft internals below Warning -->
    <logger name="Microsoft.*" maxLevel="Info" final="true" />
    <logger name="System.*" maxLevel="Info" final="true" />
    <!-- Application logs: everything from Trace up -->
    <logger name="*" minlevel="Trace" writeTo="console,file" />
  </rules>

</nlog>
